openapi: 3.1.0
info:
  title: Dropbox Sign Account Embedded API
  version: 3.0.0
  description: Best-effort OpenAPI for the Dropbox Sign (formerly HelloSign) v3 eSignature API covering accounts, API apps, bulk send jobs, embedded edit / sign URLs, and fax operations. Authoritative spec lives at https://github.com/hellosign/hellosign-openapi.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developers.hellosign.com/api/api-reference-welcome
servers:
- url: https://api.hellosign.com/v3
  description: Dropbox Sign v3 API
security:
- apiKey: []
- oauth2: []
tags:
- name: Embedded
paths:
  /embedded/edit_url/{template_id}:
    parameters:
    - name: template_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Embedded
      summary: Get an embedded template edit URL
      operationId: getEmbeddedEditUrl
      responses:
        '200':
          description: Embedded edit URL
  /embedded/sign_url/{signature_id}:
    parameters:
    - name: signature_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Embedded
      summary: Get an embedded signing URL
      operationId: getEmbeddedSignUrl
      responses:
        '200':
          description: Embedded signing URL
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: basic
      description: Dropbox Sign API key used as Basic auth username with empty password
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hellosign.com/oauth/authorize
          tokenUrl: https://app.hellosign.com/oauth/token
          scopes:
            basic_account_info: View basic account info
            account_access: Manage account
            signature_request_access: Manage signature requests
            template_access: Manage templates
            api_app_access: Manage API apps
