openapi: 3.1.0
info:
  title: Dropbox Sign API
  version: "3.0.0"
  description: >-
    Best-effort OpenAPI for the Dropbox Sign (formerly HelloSign) v3 eSignature
    API covering accounts, API apps, bulk send jobs, embedded edit / sign URLs,
    and fax operations. Authoritative spec lives at
    https://github.com/hellosign/hellosign-openapi.
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://developers.hellosign.com/api/api-reference-welcome
servers:
  - url: https://api.hellosign.com/v3
    description: Dropbox Sign v3 API
security:
  - apiKey: []
  - oauth2: []
tags:
  - name: Account
  - name: API App
  - name: Bulk Send Job
  - name: Embedded
  - name: Fax
paths:
  /account/create:
    post:
      tags: [Account]
      summary: Create a new account on Dropbox Sign
      operationId: createAccount
      responses:
        "200": { description: Account created }
  /account:
    get:
      tags: [Account]
      summary: Get the authenticated account
      operationId: getAccount
      responses:
        "200": { description: Account details }
    put:
      tags: [Account]
      summary: Update the authenticated account
      operationId: updateAccount
      responses:
        "200": { description: Account updated }
  /account/verify:
    post:
      tags: [Account]
      summary: Verify whether an email belongs to an existing account
      operationId: verifyAccount
      responses:
        "200": { description: Verification result }
  /api_app:
    post:
      tags: [API App]
      summary: Create an API app
      operationId: createApiApp
      responses:
        "200": { description: API app created }
  /api_app/{client_id}:
    parameters:
      - $ref: "#/components/parameters/ClientId"
    get:
      tags: [API App]
      summary: Get an API app
      operationId: getApiApp
      responses:
        "200": { description: API app }
    put:
      tags: [API App]
      summary: Update an API app
      operationId: updateApiApp
      responses:
        "200": { description: API app updated }
    delete:
      tags: [API App]
      summary: Delete an API app
      operationId: deleteApiApp
      responses:
        "204": { description: API app deleted }
  /api_app/list:
    get:
      tags: [API App]
      summary: List API apps
      operationId: listApiApps
      responses:
        "200": { description: A page of API apps }
  /bulk_send_job/{bulk_send_job_id}:
    parameters:
      - name: bulk_send_job_id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Bulk Send Job]
      summary: Get a bulk send job
      operationId: getBulkSendJob
      responses:
        "200": { description: Bulk send job }
  /bulk_send_job/list:
    get:
      tags: [Bulk Send Job]
      summary: List bulk send jobs
      operationId: listBulkSendJobs
      responses:
        "200": { description: A page of bulk send jobs }
  /embedded/edit_url/{template_id}:
    parameters:
      - name: template_id
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Embedded]
      summary: Get an embedded template edit URL
      operationId: getEmbeddedEditUrl
      responses:
        "200": { description: Embedded edit URL }
  /embedded/sign_url/{signature_id}:
    parameters:
      - name: signature_id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Embedded]
      summary: Get an embedded signing URL
      operationId: getEmbeddedSignUrl
      responses:
        "200": { description: Embedded signing URL }
  /fax/send:
    post:
      tags: [Fax]
      summary: Send a fax
      operationId: sendFax
      responses:
        "200": { description: Fax queued }
  /fax/list:
    get:
      tags: [Fax]
      summary: List sent and received faxes
      operationId: listFaxes
      responses:
        "200": { description: A page of fax records }
components:
  parameters:
    ClientId:
      name: client_id
      in: path
      required: true
      schema: { type: string }
  securitySchemes:
    apiKey:
      type: http
      scheme: basic
      description: Dropbox Sign API key used as Basic auth username with empty password
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://app.hellosign.com/oauth/authorize
          tokenUrl: https://app.hellosign.com/oauth/token
          scopes:
            basic_account_info: View basic account info
            account_access: Manage account
            signature_request_access: Manage signature requests
            template_access: Manage templates
            api_app_access: Manage API apps
